<app-book-create (messageEvent)="receiveMessage($event)"></app-book-create>

<div class="lead">List Books</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">UUID</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Published Date</th>
    <th scope="col">Created At</th>
    <th scope="col">Count</th>
    <th scope="col">Active</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td scope="row">
      <a routerLink="/books/detail/{{book.uuid}}">{{book.uuid}}</a>
    </td>
    <td>
      {{book.title}}
    </td>
    <td>
      {{book.author}}
    </td>
    <td>
      {{book.publishedDate | date:'medium'}}
    </td>
    <td>
      {{book.createdAt | date:'medium'}}
    </td>
    <td>
      {{book.count}}
    </td>
    <td>
      {{{true:"Active",false:"Inactive"}[book.active]}}
    </td>
    <td>
      <button class="btn btn-danger btn-small" (click)="delete(book.uuid)"><span class="fa fa-trash-o"></span></button>
    </td>
  </tr>
  </tbody>

</table>
